/* src/styles/fonts.css */

@font-face {
  font-family: "Bodoni Serial Medium";
  src: url("../assets/fonts/BodoniSerialMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lampard Signature";
  src: url("../assets/fonts/LampardSignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Revivalisem";
  src: url("../assets/fonts/Revivalisem.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
